.button-div {
    text-align: center;
}

#t2 {
    margin-top: 150px;
}

#bd1 {
    margin-top: 20px;
}

#bd2 {
    margin-top: 100px;
}

#bd2 button {
    color: white !important;
}

.suggestion {
    margin: auto 400px;
    margin-top: 50px;
    color: aliceblue;
    /* background-color: blueviolet; */
    text-align: center;
}